<header>
<table class="profile" summary="Profile information">
  <tr>
  	<td>
	  <%= link_to logo, root_path %>
	</td>
	<td>
	  <nav class="round">
	    <ul>
	      <li><%= link_to "Home", root_path %></li>
	      <li><%= link_to "Help", help_path %></li>
	      <li><%= link_to "Sign in", '#' %></li>
	    </ul>
	  </nav>
	</td>
  </tr>
</table>
</header>
